
.movieCard {
    /* size and look */
    width: 342px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.1);

    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.movieCard:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.movieInfo {
    padding: 12px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.title {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
}

.poster {
    display: block;
    max-height: 513px;
    max-width: 342px;
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px 12px 0 0;
}

.posterSkeleton {
  position: absolute;
  inset: 0;               /* cover the whole poster area */
  background: hsl(0 0% 26%);
  animation: pulse 1.5s ease-in-out infinite;
}

/* simple pulse animation */
@keyframes pulse {
  0%, 100% { opacity: 0.6; }
  50%      { opacity: 1;   }
}

.posterSkeleton, .poster {
    z-index: 0;
    pointer-events: none;
}