

.mainContainer {
    margin: 24px;
}

.moviesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}


.headingContainer {
    display: flex;
    justify-content: center;
}

.heading {
    font-size: 2rem;
    margin: 32px 0;
    border-bottom: 1px solid rgb(168, 168, 168);
}


.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;
}

.noFavorites {
    display: flex;
    justify-content: center;
    margin: 24px;
    font-size: 2rem;
    border-bottom: 1px solid hsl(0, 0%, 63%);
}


.error {
    display: flex;
    justify-content: center;
    margin: 24px;
    font-size: 2rem;
    border-bottom: 1px solid hsl(0, 48%, 36%);
}