


.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchContainer {
    display: flex;
    margin: 10px;
    width: 100%;
}

.inputField {
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 0.3rem;
    outline: none;
    width: 200px;
    font-size: 1.2rem;
}

.searchBtn {
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 25%;
    font-size: 1.2rem;
}

.searchBtn:hover {
    cursor: pointer;
    
}