
.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(168, 168, 168);
}

.inputField {
    border-radius: 4px;
    color: white;
    outline: none;
    width: 500px;
    font-size: 1rem;
    padding: 0px 12px;
    height: 50px;
    border: 1px solid rgb(121, 121, 121);
    box-shadow: 2px 2px 4px hsl(0, 0%, 31%);
    background-color: hsl(0, 0%, 26%);
}

.searchBtn {
    padding: 8px 8px;
    border-radius: 8px;
    font-size: 1.2rem;
    background-color: hsl(0, 48%, 46%);
    box-shadow: 2px 2px 4px hsl(0, 0%, 31%);
    margin: 12px;
    width: 120px;
    transition: background-color 0.3s ease-in-out;
}

.searchBtn:hover {
    cursor: pointer;
    background-color: hsl(0, 48%, 56%);
}