

.headerContainer{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 24px 24px 0 24px;
    padding: 24px;
    background-color: hsl(0, 48%, 56%);
    border-radius: 10px;
    box-shadow: 0 2px 4px hsla(0, 100%, 83%, 0.9);
}

.title {
    font-size: 2rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}


.title:hover {
    cursor: pointer;
}

